{% extends 'base.html' %}

{% block title %}News{% endblock title %}

{% block content %}

  {% for post in posts %}
    {% with forloop.counter0 as outer_counter %}
      <p><strong><a class="text-decoration-none"
                    href="{{ post.author.get_absolute_url }}"><img class="mr-2" src="{{ post.author.avatar.url }}"
                                                                   alt="{{ post.author.username }}"
                                                                   style="width: 80px; height: 80px; object-fit: cover;">
        {{ post.author.first_name }} {{ post.author.last_name }}</a>
      </strong><span
          class="small text-muted mr-auto"> |
        {% if post.created.minute !=  post.updated.minute %}
          Updated at: {{ post.updated }} |
        {% endif %}Created at: {{ post.created }}</span></p>

      {% if post.author.username == request.user.username %}
        <form method="POST" action="{% url 'post_delete' post.id %}">
          {% csrf_token %}
          <button type="submit" class="close text-danger">&times;</button>
        </form>
      {% endif %}


      {% if post.pictures.count %}
        <div class="row">
          <div class="col-md-4">

            <div id="carouselExampleControls{{ outer_counter }}" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                {% for picture in post.pictures.all %}
                  <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                    <img class="d-block w-100" src="{{ picture.picture.url }}" alt="slide">
                  </div>
                {% endfor %}

              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls{{ outer_counter }}" role="button"
                 data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls{{ outer_counter }}" role="button"
                 data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>


          </div>
          <div class="col-md-8">
            <p>{{ post.body }}</p>
          </div>
        </div>
      {% else %}
        <p>{{ post.body }}</p>
      {% endif %}
      {% if user.is_authenticated %}
        <form class="float-right" action="{% url 'post_like' post.id %}" method="POST">
          {% csrf_token %}

          <button type="submit" name="post_id" value="{{ post.id }}"
                  class="btn btn-link text-decoration-none"
                  style="display: inline;">{{ post.number_of_likes }} <i class="fas fa-thumbs-up"></i></button>
        </form>
      {% else %}
        <button name="post_id" value="{{ post.id }}"
                class="btn btn-link text-decoration-none mr-auto">{{ post.number_of_likes }} <i
            class="fas fa-thumbs-up"></i></button>
      {% endif %}

      <hr>
    {% endwith %}
  {% endfor %}

  <br><br><br>
{% endblock content %}